body {
    background-color: rgb(160, 204, 146);
}

#header {
    padding: 10px;
    color: rgb(131, 71, 32)
}

h2 {
    color: sienna
}

.button {
    background-color: orange;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 12px;
    margin: 10px 50px;
}
.button:hover {
    background-color:gray;
}

